body {
  background-color: #062127;
  color: #ffffff;
  font-family: 'Metropolis-Medium', sans-serif;
  margin: 0;
}

footer {
  height: 80vh
}

input[type="range" i] {
  color: #3e4460 !important;
}

input[type=range]  {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  overflow: hidden;
  height: 0.5rem;
  cursor: pointer;
  border-radius: 1rem;
  border-width: none;
  background-color: #3e4460;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 0.5rem;
  background-color: #3e4460;
  border-radius: 1rem;
}

input[type=range]::-webkit-slider-thumb {
  background: #7367f0;
  width: 0.3rem;
  height: 1rem;
  -webkit-appearance: none;
  box-shadow: -100vw  0 0 100vw #7367f0;
}

input[type=range]::-moz-range-track {
  height: 0.5rem;
  background-color: #7367f0;
}

input[type=range]::-moz-range-thumb {
  background: #3e4460;
  cursor: pointer;
  height: 1rem;
  box-shadow: -100vw  0 0 100vw #7367f0;
}

.absolute {
  position: absolute;
}

.bg-green {
  background-color: #a1fa4f;
}

.border-blue {
  border-color: #29a9eb;
  border-width: 1px;
}

.border-green {
  border-color: #a1fa4f;
  border-width: 1px;
}

.current-tick {
  background-color: #7367f0;
  border-radius: 0.5rem 0 0 0.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

.disappearing {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.expandable-container {
  transition: opacity 0.5s, visibility 0.5s;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.expandable-container.expanded {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.font-avenir {
  font-family: 'Avenir_Next_Pro';
}

.font-number {
  font-family: 'Bai_Jamjuree';
}

.grid-container {
  background-color: #0c3740;
  border-radius: 1rem;
  margin: 1rem 1rem 0 1rem;
  padding: 1rem;
}

.grid-item .title {
  color: #959ebf;
}

.grid-item .value {
  color: #ffffff;
}

.icon-size {
  height: 24px;
  width: 24px;
}

.logo {
  font-family: 'Metropolis-Medium', sans-serif;
}

.min-width-30 {
  min-width: 30%;
}

.position {
  width: calc(100% - 4rem); /* 4rem = margins + paddings */
}

.primary {
  color: #ffffff;
}

.rotatable {
  transition: transform 0.5s ease;
}

.scale {
  flex-grow: 1;
  height: 0.5rem;
  display: flex;
  background-color: #3e4460;
  border-radius: 0.5rem;
}

.secondary {
  color: #959ebf;
}

.status-message {
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
}

.text-blue {
  color: #29a9eb;
}

.text-gray {
  color: #859b9f;
}

.text-green {
  color: #a1fa4f;
}

.token {
  flex-shrink: 0;
}

.top-bottom-bordered::before,
.top-bottom-bordered::after {
  content: '';
  position: absolute;
  left: 5%;
  right: 5%;
  height: 1px;
  background: linear-gradient(to right, transparent, #4c4799, transparent);
}

.top-bottom-bordered::before {
  top: 0;
}

.top-bottom-bordered::after {
  bottom: 0;
}

.width-30 {
  width: 30%;
}

@font-face {
  font-family: 'Avenir_Next_Pro';
  src: url('/src/assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bai_Jamjuree';
  src: url('/src/assets/fonts/Bai_Jamjuree/BaiJamjuree-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/src/assets/fonts/Metropolis/Metropolis-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis-Medium';
  src: url('/src/assets/fonts/Metropolis/Metropolis-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 1200px) {
  .modal {
    backdrop-filter: 3px;
  }
}

@media (max-width: 768px) {
  .dashboard, .status {
    padding-top: 3rem;
  }

  .position {
    min-height: 25vh;
  }

  .position .status-message {
    background-color: #7367f075;
    margin-top: 2rem;
    padding: 0.2rem 0.5rem;
    color: #ffffff;
  }
}

@media (min-width: 1200px) {
  .positions-list {
    flex-wrap: nowrap;
  }
}
